Mouse Works Python Files (Summer 2016)
/May2016 Neural Network Workspace/IOut
/May2016 Neural Network Workspace/IInput
/May2016 Neural Network Workspace/Image Backup
/May2016 Neural Network Workspace/data